<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/styles.css">
  <title>Miata Club - Connections</title>
</head>


<body>
  <%- include('header.ejs'); -%>
  <section>
    <h2>Connections</h2>

    <h3>Car Shows</h3>
    <ul class="links_list">

      <!-- Populate a list of links for connections in the "Car Show" topic -->
      <% data.forEach(function(item){ %>
        <% if(item.getTopic() == "Car Show"){ %>
          <li><a href="/connection/<%= item.getConnectionID() %>"><%= item.getName() %></a></li>
        <% } %>
      <% }); %>
    </ul>

    <h3>Road Series</h3>
    <ul class="links_list">

      <!-- Populate a list of links for connections in the "Road Series" topic -->
      <% data.forEach(function(item){ %>
        <% if(item.getTopic() == "Road Series"){ %>
          <li><a href="/connection/<%= item.getConnectionID() %>"><%= item.getName() %></a></li>
        <% } %>
      <% }); %>
    </ul>
  </section>

  <%- include('footer.ejs'); -%>
</body>

</html>
