<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/styles.css">
  <title>Miata Club - Connections</title>
</head>


<body>
  <%- include('header.ejs'); -%>
  <section>
    <h2>Connections</h2>

    <h3>Car Shows</h3>
    <ul class="links_list">

      <!-- Populate a list of links for connections in the "Car Show" topic -->
      <% for(let i = 0; i < data.connections.length; i++){ %>
        <% if(data.connections[i]._connectionTopic == "Car Show"){ %>
          <li><a href="/connection/<%= data.connections[i]._connectionId %>"><%= data.connections[i]._connectionName %></a></li>
        <% } %>
      <% } %>
    </ul>

    <h3>Road Series</h3>
    <ul class="links_list">

      <!-- Populate a list of links for connections in the "Road Series" topic -->
      <% for(let i = 0; i < data.connections.length; i++){ %>
        <% if(data.connections[i]._connectionTopic == "Road Series"){ %>
          <li><a href="/connection/<%= data.connections[i]._connectionId %>"><%= data.connections[i]._connectionName %></a></li>
        <% } %>
      <% } %>
    </ul>
  </section>

  <%- include('footer.ejs'); -%>
</body>

</html>
