<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/styles.css">
  <title><%= data._connectionTopic %> - <%= data._connectionName %></title>
</head>

<body>
  <%- include('header.ejs'); -%>
  <section>
    <h2><%= data._connectionTopic %> - <%= data._connectionName %></h2>

    <p><%= data._details %></p>

    <div class="details_box">
      <img src="/assets/images/ethan.jpeg" alt="profile picture" id="host_photo">
      <ul class="event_details">
        <li>Hosted by Ethan Carter</li>
        <li><%= data._date %></li>
        <li><%= data._time %></li>
        <li>
          <address>
            <%= data._locationName %><br>
            <%= data._addressLine1 %><br>
            <%= data._addressLine2 %><br>
          </address>
        </li>
      </ul>
    </div>

    <div class="rsvp_box">
      <form method="post">
        <label for="rsvp">Will you be attending this event?</label><br><br>
        <input hidden name="connectionId" value="<%= data._connectionId %>">
        <button type="submit" formaction="/savedConnections/rsvp" name="rsvp" id="rsvp" value="Yes">Yes</button>
        <button type="submit" formaction="/savedConnections/rsvp" name="rsvp" id="rsvp" value="No">No</button>
        <button type="submit" formaction="/savedConnections/rsvp" name="rsvp" id="rsvp" value="Maybe">Maybe</button>
      </form>
    </div>
  </section>
  <%- include('footer.ejs'); -%>
</body>



</html>
